.order-page {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 40px;
}
.order-page > h1 {
    text-align: center;
    margin-bottom: 40px;
}

.order-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.order-summary, .order-form {
    padding: 30px;
    border: 1px solid #e5e5e5;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.order-product-image {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 25px;
    object-fit: contain;
}

.order-form input {
    padding: 14px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.order-form button {
    padding: 15px;
    border: none;
    background-color: #111;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

@media (max-width: 768px) {
    .order-container {
        grid-template-columns: 1fr;
    }
}